package components

templ DashboardRestoreAccessCode(newAccessCode string) {
	<p class="banner state-success">
		&#10003;&nbsp;Your new access code for the secret is "<strong>{ newAccessCode }</strong>" (without quotes).
		Remember or write it down somewhere!
	</p>
}
